img {
    display: block;
    max-width: 100%;
    &.frame-shadow {
        box-shadow: 8px 14px 11px rgba(0, 0, 0, 0.4);
        border: 1px solid $color_grey_light;
    }
}

hr {
    &.separator {
        margin: #{6 * $spacer} #{2 * $spacer};
        border: none;
        height: 1px;
        background: $body-color;
        background: -webkit-gradient(linear, 0 0, 100% 0, from(#fff), to(#fff), color-stop(50%, $body-color));
    }
    &.separator-left {
        margin: #{3 * $spacer} 0;
        border: none;
        height: 1px;
        background:  $unobtrusive;
        background: -webkit-gradient(linear, 0 0, 100% 0, from(#fff), to(#fff), color-stop(0%, $unobtrusive));
    }
}

figcaption {
    font-size: 85%;
}

.hidden-form {
    display: none;
}

header nav {
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.15);
    background-color: rgba(255, 255, 255, 0.65);
}

#logo-svg-main {
    max-height: 70vh;
}

footer nav {
    justify-content: space-between;
    #{$a-tags} {
        color: $body-color;
        text-decoration: none;
    }
}

.page-heading {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.3;
    margin-bottom: $spacer * 2;
    @include fadeInRight;
}

.content {

    @include fadeInLeft;

    h2 {
        line-height: 1.2;
        margin: #{$spacer * 2} 0 #{$spacer * 1};
        text-transform: uppercase;
        small {
            color: $color_primary;
            font-size: 66.66%;
            font-weight: 700;
        }
    }

    .card {
        box-shadow: 2px 4px 7px rgba(0,0,0,0.14)
    }

    .card-header h2 {
        margin: #{$spacer * 1} 0 #{$spacer * 0.5};
    }

    h3 {
        margin: #{$spacer * 1.5} 0;
    }

    .list-group-item h3 {
        margin: #{$spacer * 1} 0 ;
    }

    p:last-of-type {
        margin-bottom: 0;
    }

    p > a:not(.btn) {
        font-weight: 700;
        text-decoration: none;
        border-bottom: 1px solid rgba(0,0,0,0);
        transition: all 300ms cubic-bezier(0, 0, 0.2, 1);
        word-break: break-all;
        &:hover {
            border-bottom-color: map_get($theme-colors, 'primary');
        }
    }

}

.card.text-white {
    #{$a-tags} {
        color: #fff;
        font-weight: 900;
    }
}
