html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    padding-top: $spacer * 3;
    padding-bottom: $spacer * 3;
}

footer {
    @include media-breakpoint-down(sm) {
        .container { flex-direction: column; }
        .nav-link {
            padding: 0.1rem 1rem;
            font-size: 0.66rem;
            text-align: center;
        }
    }
}
