.label {
    padding: .4em .6em .2em;
    font-size: 75%;
    font-weight: 600;
    border-radius: 4px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.inline-form {
    display: inline-block;
}

.pace .pace-progress {
    background: $color_primary !important;
}

.logo-mini {
    font-size: 70%;
    font-weight: 100;
    font-stretch: condensed;
    background: #fff url('/media/branding/logo_padded.svg') no-repeat center center scroll;
    background-size: cover;
    text-indent: -9999rem;
}

.content-wrapper {
    background: #d6d6d6;
    background: rgba(34,45,50,0.5) url('/media/images/background_backend.jpg') no-repeat center center fixed;
    background-size: cover;
    background-blend-mode: darken;
}

.vspot.skin-black {

    .content-header {
        background-color: rgb(34, 45, 50, 0.7);
        box-shadow: none;
        padding: 15px;
        color: #fff;
        h1 {
            font-weight: 100;
            small {
                font-size: 16px;
                font-weight: 900;
                color: #ffc107;
            }
        }
    }

    .sidebar-menu {
        > li.active > a {
            font-weight: 600;
            border-left: 3px solid $color_primary;
        }
        .fa-fw {
            margin-right: 0.5em;
        }
    }

    .box {
        &.box-default { border-top-color: $color_primary; }
        box-shadow: 5px 5px 14px rgba(0, 0, 0, 0.65);
    }

}

.alert:last-of-type {
    margin-bottom: 0;
}

.panel {
    h2, .h2, h3, .h3 {
        margin: 0;
    }
    .user-status-labels .label {
        margin: 0 0.25rem;
    }
}

.panel-footer {
    background-color: #FFFFFF;
    background: -moz-linear-gradient(left, #f5f5f5 0%, #ffffff 100%);
    background: -webkit-linear-gradient(left, #f5f5f5 0%,#ffffff 100%);
    background: linear-gradient(to right, #f5f5f5 0%,#ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#ffffff',GradientType=1 );
}

.btn-link--delete-dropdown {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #777;
    white-space: nowrap;
    width: 100%;
    text-align: left;
    background-color: rgba(0,0,0,0);
    border-radius: 0;
    transition: all 300ms ease-out;
    &:hover {
        text-decoration: none;
        background-color: $color_error;
        color: #fff;
    }
}

.well {
    &.well--toolbar {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }
}

.box-title .icon {
    margin-right: 10px;
}

.btn {

    &.btn-sm {
        &.has-icon-left {
            .fa, .fas { margin-right: 4px; }
        }
        &.has-icon-right {
            .fa, .fas { margin-left: 4px; }
        }
    }

    &.has-icon-left {
        .fa, .fas { margin-right: 5px; }
    }

    &.has-icon-right {
        .fa, .fas { margin-left: 5px; }
    }

    &.btn-lg {
        &.has-icon-left {
            .fa, .fas { margin-right: 6px; }
        }
        &.has-icon-right {
            .fa, .fas { margin-left: 6px; }
        }
    }

}
