.label {
    padding: .4em .6em .2em;
    font-size: 75%;
    font-weight: 600;
    border-radius: 4px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.pace .pace-progress {
    background: $color_primary !important;
}

.logo-mini {
    font-size: 70%;
    font-weight: 100;
    font-stretch: condensed;
    background: #fff url('/media/branding/logo_padded.svg') no-repeat center center scroll;
    background-size: cover;
    text-indent: -9999rem;
}

.content-wrapper {
    background-color: #eeeeee;
    background: #fff url('/media/branding/tile_3.png') repeat top left fixed;
}

.vspot.skin-black {

    .content-header {
        background-color: rgb(34, 45, 50, 0.7);
        box-shadow: none;
        padding: 15px;
        color: #fff;
        h1 { font-weight: 100; }
    }

    .sidebar-menu > li.active > a {
        font-weight: 600;
        border-left: 3px solid $color_primary;
    }

}

//
//.vspot.xskin-black-light {
//    .wrapper, .main-sidebar, .left-side {
//        background-color: #fafafa;
//    }
//    .skin-black-light .main-sidebar {
//        border-right: 1px solid #dddddd;
//    }
//    .sidebar-menu > li.header {
//        color: #666;
//        background: #e6e6e6;
//    }
//    .sidebar-menu > li.active > a {
//        font-weight: 600;
//        border-left: 3px solid $color_primary;
//    }
//}

.panel--user {
    h2 {
        margin: 0;
    }
    .user-status-labels .label {
        margin: 0 0.25rem;
    }
}

.btn-link--delete-dropdown {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #777;
    white-space: nowrap;
    width: 100%;
    text-align: left;
    background-color: rgba(0,0,0,0);
    border-radius: 0;
    transition: all 300ms ease-out;
    &:hover {
        text-decoration: none;
        background-color: $color_error;
        color: #fff;
    }
}

.box-title .icon {
    margin-right: 10px;
}

.inline-form {
    display: inline-block;
}
