body.vspot {
    font-family: $font-family;
    .main-header .logo,
    h1, h2, h3, h4, h5, h6,
    .h1, .h2, .h3, .h4, .h5, .h6 {
        font-family: $font-family;
    }
}

p {
    &:last-of-type {
        margin-bottom: 0;
    }
    &.text-fit-button-line {
        padding: 7px 12px;
    }
}

#logout-form {
    display: none;
}
