/* selects */

.js-enhanced-select {
    visibility: hidden;
    transition: visibility 300ms ease-out;
}

/* color picker */

.colorpicker.vspot-color-picker .colorpicker {
    &-saturation {
        width: 250px;
        height: 250px;
    }
    &-hue,
    &-alpha {
        width: 40px;
        height: 250px;
    }
    &-color,
    &-color div {
        height: 40px;
    }
    &-selectors i {
        height: 17px;
        width: 17px;
    }
}

/* html editor */

textarea.ql-container {
    resize: none;
}


