/node_modules
/notes
/public/hot
/public/storage
/public/css/
/public/js/
/storage/*.key
/vendor

.env
.env.backup
.env.prod
.idea
.phpunit.result.cache

Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

/.phpstorm.meta.php

