/*
 * BACKEND STYLES
 */

/*
 * SHARED STYLES
 */

body {
  -webkit-backface-visibility: hidden;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 20%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 20%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

/*
 * x-Axis
 */

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(5%, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(5%, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(-5%, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(-5%, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

body.vspot {
  font-family: "Nunito", "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body.vspot .main-header .logo,
body.vspot h1,
body.vspot h2,
body.vspot h3,
body.vspot h4,
body.vspot h5,
body.vspot h6,
body.vspot .h1,
body.vspot .h2,
body.vspot .h3,
body.vspot .h4,
body.vspot .h5,
body.vspot .h6 {
  font-family: "Nunito", "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#logout-form {
  display: none;
}

.login-page,
.register-page {
  background-color: #000;
  background: #fff url("/media/images/background_auth.jpg") no-repeat center center fixed;
  background-size: cover;
}

.login-page:before,
.register-page:before {
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  display: block;
  left: 0;
  top: 0;
  content: "";
}

.auth-box {
  z-index: 2;
  position: relative;
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp;
  -webkit-animation-duration: 600ms;
          animation-duration: 600ms;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}

.register-logo svg,
.login-logo svg {
  max-width: 160px;
  margin: 20px auto;
  display: block;
}

.register-box-body,
.login-box-body {
  border-radius: 3px;
  background: #fff;
  padding: 20px;
  border: none;
  color: #666;
  box-shadow: 3px 5px 20px 4px rgba(0, 0, 0, 0.2);
}

.backend-gate-form {
  margin-bottom: 20px;
}

.label {
  padding: 0.4em 0.6em 0.2em;
  font-size: 75%;
  font-weight: 600;
  border-radius: 4px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.pace .pace-progress {
  background: #c70038 !important;
}

.logo-mini {
  font-size: 70%;
  font-weight: 100;
  font-stretch: condensed;
  background: #fff url("/media/branding/logo_padded.svg") no-repeat center center scroll;
  background-size: cover;
  text-indent: -9999rem;
}

.content-wrapper {
  background-color: #eeeeee;
  background: #fff url("/media/branding/tile_4.png") repeat top left fixed;
}

.vspot.skin-black .content-header {
  background-color: rgba(34, 45, 50, 0.7);
  box-shadow: none;
  padding: 15px;
  color: #fff;
}

.vspot.skin-black .content-header h1 {
  font-weight: 100;
}

.panel--user h2 {
  margin: 0;
}

.panel--user .user-status-labels .label {
  margin: 0 0.25rem;
}

.btn-link--delete-dropdown {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #777;
  white-space: nowrap;
  width: 100%;
  text-align: left;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 0;
  transition: all 300ms ease-out;
}

.btn-link--delete-dropdown:hover {
  text-decoration: none;
  background-color: #dd4b39;
  color: #fff;
}

.box-title .icon {
  margin-right: 10px;
}

.inline-form {
  display: inline-block;
}

.js-enhanced-select {
  visibility: hidden;
  transition: visibility 300ms ease-out;
}

