body {
    -webkit-backface-visibility: hidden;
}

svg {
    max-width: 100%;
    height: auto;
}


.qr-wrapper {
    text-align: center;
    svg {
        margin: 0 auto;
        display: inline-block;
    }
    &--shadowed svg {
        box-shadow: 3px 7px 10px rgba(0, 0, 0, 0.45);
    }
}

