html {
    font-family: 'Nunito', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    font-variant-ligatures: common-ligatures;
}

html, body {
    position: relative;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background: #000000;
    color: #FFFFFF;
}

* {
    line-height: 1;
}

p {
    margin: 1rem 0;
    line-height: 1.2;
    font-size: 1em;
    > span {
        padding: 0 0.25rem;
        border-radius: 3px;
    }
}

ul,
ol {
    margin: 1.5rem 0;
    margin-left: 0.5rem;
    padding-left: 0.5rem;
}

ul li,
ol li {
    margin: 0.5rem 0;
}

ul ul,
ol ul,
ul ol,
ol ol {
    margin-top: 0;
    margin-bottom: 0;
}

blockquote {
    margin: 0.5rem 0;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    margin: 0.5rem 0;
}

h1, .h1 {
    font-size: 4.5em;
    //line-height: 4.5rem;
    //margin-top: 3rem;
    margin: 0.25rem 0;
}

h2, .h2 {
    font-size: 3em;
    //line-height: 3rem;
    //margin-top: 3rem;
}

h3, .h3 {
    font-size: 1.5em;
}

blockquote {
    border-left: 10px solid;
    font-weight: 100;
    margin: 0.5rem 0 0.5rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    background-color: rgba(180, 180, 180, 0.35);
    border-radius: 0 6px 6px 0;
    p {
        margin: 0;
    }
    small {
        font-size: 66.66%;
        opacity: 0.6666;
        font-style: italic;
        font-weight: 900;
    }
}

pre {
    font-family: monospace;
    border: 1px solid;
    padding: 0.2rem 0.4rem 0.2rem;
    line-height: 1.1;
    border-radius: 6px;
}

img, svg {
    max-width: 100%;
    max-height: 100vh;
    height: auto;
}
